*~
.*.swp
docs/doxygen/Doxyfile
docs/html
docs/latex
docs/GNSS-SDR_manual.pdf
src/tests/data/output.dat
thirdparty/
.project
.cproject
/install
/.DS_Store

new_spree/src/\.vscode/

new_spree/file_sources/

old_spree/\.vscode/

new_spree/conf/file_source_apt_t\.conf

new_spree/src/gnss_sdr_pvt\.nmea

new_spree/src/gps_ephemeris\.xml
